{% extends "base.html" %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3">
<h1> {{ title }} </h1>
<form method="GET" action="">
<input type="text" name="q" placeholder="Search Posts" value="{{ request.GET.q }}" />
<input type="submit" value="search" />
</form>
{% for object in object_list %}
<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
    {% if object.image %}
      <img src="{{ object.image.url }}" class="img-responsive" />
    {% endif %}
      <div class="caption post-detial-item">
      {% if object.draft %}<h3>Draft</h3>{% endif %} {% if object.publish > today %} <h3>Future Post</h3>{% endif %}
        <h3><a href='{{ object.get_absolute_url }}'>{{ object.title }}</a> <small>{{ object.publish }}</small></h3>
        {% if object.user.get_full_name %}<p>Author:{{ object.user.get_full_name }}</p>{% endif %}
        {{ object.get_markdown }}
        <p><a href='{{ object.get_absolute_url }}' class="btn btn-primary" role="button">View</a>
        </p>
      </div>
    </div>
  </div>
  </hr>
  </div>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock content %}